img.foto {
	margin: 0px auto 0px auto;
	min-width: 100px;
	min-height: 132px;
	max-width: 100px;
	max-height: 132px;
}

div.live-view {
	padding: 0;
}

div.live-view-content {
	width: 670px;
	height: 502px;
	margin: 0 auto;
}


img.img-capture-view {
	width: 670px;
	height: 502px;
	margin: 0 auto;
	max-width: 100%;
}