body { 
	padding-top: 15px; 
    /*background-color: rgb(254, 250, 218);*/
}

/* NAVBAR */
.navbar {
	box-shadow: 0 1px 2px rgb(97, 86, 44);
}

nav.navbar-default {
	background-color: #fff59d;
}

a.navbar-brand {
	padding-top: 7px;
}

img.navbar-logo {
	width: 50px;
	margin: auto;
}

.navbar-default .navbar-nav > li > a:hover {
	background-color: rgba(213, 181, 75, 0.4);
}

.navbar-default .navbar-nav > .active ,
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: rgba(213, 181, 75, 0.4);
}
 
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
	background-color: rgba(213, 181, 75, 0.4);
}

.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
	background-color: rgba(213, 181, 75, 0.4);
	color: #141414;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
	background-color: rgba(213, 181, 75, 0.4);
}

.dropdown-menu .divider {
	background-color: rgba(213, 181, 75, 0.4);
}

.open > .dropdown-menu {
	background-color: #fff59d;	
}

/* NAVBAR */